<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Language Translator</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

<!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">Pick a Letter</h1>

      <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="/static/tutorial_a.html" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/static/img/letter-a.jpg" style="width:400px;height:300px;" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="/static/tutorial_b.html" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/static/img/letter-b.jpg" style="width:400px;height:300px;" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="/static/tutorial_c.html" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/static/img/letter-c.jpg" style="width:400px;height:300px;" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="/static/tutorial_d.html" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/static/img/letter-d.jpg" style="width:400px;height:300px;" alt="">
          </a>
        </div>
        
      </div>
      


</body>

</html>